// COLORS
$primary: #f3f3f3;
$accent: #86534a;
$black: #252525;
$text-primary: #1f1f1f;
$text-alternative: #727171;
$text-contrast: #c7c7c7;
$alert: #fa5d5d;
$text-primary-hover: #a7a2a2;

// BREAKPOINTS
$mobile-size: 500px;
$tablet-size: 800px;
$desktopS-size: 1300px;
$desktopL-size: 1700px;


// FONTS
$font-logo: 'Prata';
$font-text: 'Quicksand';
$font-header: 'Open Sans';

@mixin desktopL {
    @media only screen and (max-width: $desktopL-size) and (min-width: $desktopS-size) {
        @content
    }
};

@mixin desktopS {
    @media only screen and (max-width: $desktopS-size) {
        @content
    }
};

@mixin mobile {
    @media only screen and (max-width: $mobile-size) {
        @content
    }
};

@mixin tablet {
    @media only screen and (max-width: $tablet-size) and (min-width: $mobile-size){
        @content
    }
};