@use '/styles/variables' as *;

.background {
    width: 100%;
    height: 100%;

    .backgroundImage {
        width: 100%;
        height: 100%;
        opacity: 0.10;
        transform: rotate(180deg);
    }
    .overlayImage {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.33;
        filter: grayscale(100%) blur(8px);
        animation: overlayImage 3s ease-in-out alternate infinite;

        @keyframes overlayImage {
            from {filter: blur(8px);}
            to {filter: blur(0px)}
          }
    }
}

.mainContentContainer {
    margin-top: 12vh;
    padding-bottom: 12vh;
    height: 88vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-text;

    @include mobile {
        padding-bottom: 25vh;
        overflow: hidden;
    }
    @include tablet {
        padding-bottom: 25vh;
    }

    .info {
        background-color: $accent;
        width: 45vw;
        position: fixed;
        padding: 7vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include mobile {
            width: 80vw;
            height: 20vh;
        }
        @include tablet {
            width: 65vw;
            height: 25vh;
        }

        h3 {
            font-size: 2.2vw;
            font-family: $font-header;
            text-align: center;
            color: rgb(250, 250, 250);

            @include mobile {
                font-size: 5vw;
            }
            @include tablet {
                font-size: 3vw;
            }
        }
        h4 {
            text-align: center;
            font-size: 1.3vw;
            color: rgb(170, 170, 170);

            @include mobile {
                font-size: 2.3vw;
            }
            @include tablet {
                font-size: 1.4vw;
            }
        }
        .verticalLine {
            height: 4.8vh;
            width: 1px;
            border: 1px solid rgba(75, 48, 48, 0.815);
            position: absolute;
            bottom: -4.8vh;
        }

        .bottomNav {
            display: flex;
            justify-content: center;
            width: 100%;
            position: absolute;
            bottom: -7.3vh;

            .item {
                width: 100%;
                border: 1px solid rgba(75, 48, 48, 0.815);
                text-align: center;
                padding: 1%;
                color: $text-alternative;

                &:hover {
                    cursor: pointer;
                    background-color: rgba($accent, 0.50);
                    color: $primary;
                }
            }
        }
    }
}
